.btn {
    margin: 10px auto;
    display: block;
}

.shrink {
    padding-right: 10%;
    padding-left: 10%;
}

.question-container {
    padding-right: 20%;
    padding-left: 20%;
}

.question {
    margin-top: 20px;
}

.correct-option {
    color: green;
}

.incorrect-option {
    color: red;
}